.nav
  height: 45px
  background: #43b2e6
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  text-transform: uppercase

.nav-link
  color: #fff !important
  letter-spacing: 1px !important
  transition: all 0.3s ease

.nav-link_active
  font-weight: bold

.dropdown-toggle
  background: #43b2e6
  padding: 16px
  font-size: 16px
  border: none


.dropdown
  position: relative
  display: inline-block

  &:hover &-content
    display: block

  &-content
    display: none
    position: absolute
    background: #43b2e6
    min-width: 80px
    z-index: 1

  &-content &-item
    background: #43b2e6

  &-item
    background: #43b2e6 !important
    color: black
    padding: 12px 16px
    text-decoration: none
    display: block

    &:first-child
      margin-top: 3px

    &:hover
      background: #3ba6d9 !important